@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
#root{
    min-height: 100vh;
}

@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}